.divInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.invalid{
    border-bottom: 1px solid rgb(245, 64, 64);
}

.divInput label {
    margin-bottom: 5px;
}

.divInput input{
    border: 0;
    border-bottom: 1px solid #9C9C9C;
    outline: none;
}