@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import '../node_modules/normalize.css/normalize.css';

:root{
  --primary-color: #5AD275;
}

body {
  font-family: 'Inter',  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursorPointer{
  cursor: pointer;
}

.displayHidden{
  visibility: hidden;
}

.displayNone{
  display: none;
}
